[Unit]
Description=KonclaveLocalDaemon service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/konclave/bin/KonclaveLocalDaemon
Restart=on-failure
DynamicUser=yes
StateDirectory=KonclaveLocalDaemon
WorkingDirectory=/opt/konclave

[Install]
WantedBy=multi-user.target
